# ignore maven build folder
target/

# pom-derived eclipse jdt files
.project
.classpath
org.eclipse.*.prefs

# IntelliJ
.idea/
/jsonio/src/main/java/jsonio/TestFromJson.java
/jsonio/src/main/java/jsonio/TestToJson.java
