# Edward
Carl Edward Storlien <carlst@stud.ntnu.no> Edward Storlien
Carl Edward Storlien <carlst@stud.ntnu.no> <edward.storlien@gmail.com>

# Alexander
Alexander Grannes <alexgr@stud.ntnu.no> <alexander.grannes@gmail.com>

# Anette
Anette Wiken Lund <anettewl@stud.ntnu.no> Anette Lund

# Oda
Oda Bang-Olsen <odaban@stud.ntnu.no> Oda
