/**
 * This class defines CSS styles for various UI elements used in the application.
 * It provides a consistent look and feel across different components.
 * Styles are defined for labels, buttons, text areas, and error/success messages.
 * The styles are defined using the JavaFX CSS syntax.
 */

/**
* CSS class for common labels in the application.
*/
.label-style {
    -fx-font-family: "Dubai";
    -fx-font-size: 26px;
    -fx-text-fill: #a40a0a;
    -fx-font-weight: normal;
    -fx-text-align: center;
}

/**
* CSS class for sub-labels in the application.
*/
.sub-label-style {
    -fx-font-family: "Dubai";
    -fx-font-size: 17px;
    -fx-text-fill: #a40a0a;
    -fx-font-weight: normal;
    -fx-text-align: center;
}

/**
* CSS class for general style for all buttons in the application.
*/
.button {
    -fx-font-family: "Dubai";
}

/**
* CSS ID for the back button.
*/
#backButton {
    -fx-font-size: 14px;
    -fx-text-fill: rgb(0, 0, 0);
    -fx-min-width: 55px;
    -fx-min-height: 35px;
}

/**
* CSS ID for the buy button.
*/
#buy {
    -fx-font-family: "Dubai";
    -fx-font-size: 16px;
    -fx-min-width: 100px;
    -fx-min-height: 45px;
    -fx-text-fill: rgb(94, 0, 0);
}

/**
* CSS ID for the refill button.
*/
#refilllButton {
    -fx-font-size: 16px;
    -fx-min-width: 100px;
    -fx-min-height: 45px;
    -fx-text-fill: rgb(94, 0, 0);
}

/**
* CSS ID for the OK button.
*/
#okButton {
    -fx-font-size: 14px;
    -fx-text-fill: rgb(94, 0, 0);
}

/**
* CSS ID for the textArea.
*/
#textArea {
    -fx-font-size: 14px;
    -fx-font-family: "Dubai";
}

/**
* CSS ID for the menu bar.
*/
#menuBar {
    -fx-font-size: 14px;
    -fx-font-family: "Dubai";

}

/* Stil for vanlige knapper */
.buttonContainer {
    -fx-font-family: "Dubai";
    -fx-font-size: 15px;
    -fx-max-width: 100px;
    -fx-max-height: 50px;
    -fx-background-color: #932828;
    -fx-text-fill: rgb(255, 255, 255);
}

/**
* CSS class for button hover effect.
*/
.button:hover {
    -fx-background-color: rgb(116, 112, 112);
}

/**
* CSS class for error messages in the application.
*/
.error-text {
    -fx-text-fill: red;
}

/**
* CSS class for success messages in the application.
*/
.success-text {
    -fx-text-fill: rgb(5, 105, 5);
}